.d-flex {
  display: flex;
}
.justify-content-between {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}
.justify-content-end {
  justify-content: flex-end;
}
.flex-direction-column {
  flex-direction: column;
}
.align-items-baseline {
  align-items: baseline;
}
.d-none {
  display: none;
}
.d-xl-block {
  @include media-breakpoint-up(xl) {
    display: block;
  }
}
.d-xl-none {
  @include media-breakpoint-up(xl) {
    display: none;
  }
}
.d-sm-none {
  @include media-breakpoint-up(sm) {
    display: none;
  }
}
.d-sm-block {
  @include media-breakpoint-up(sm) {
    display: block;
  }
}
.d-md-block {
  @include media-breakpoint-up(md) {
    display: block;
  }
}
.d-lg-block {
  @include media-breakpoint-up(lg) {
    display: block;
  }
}