$main-color: #323264;
$main-alt-color: #46466E;
$main-soft-color: #686887;
$accent-color: #F0145A;
$active-regular-color: #24A3FF;
$active-hover-color: #0085FF;
$active-active-color:#006CCF;
$grey-bg-color: #F5F5FA;
$grey-bg-alt-color: #EDEDF7;
$grey-bg-text-color: #B3B3BA;
$grey-bg-separator-color: #E6E6F0;

$main-font: "TT Norms";